<div class="bg-gray-50">
  <div class="text-right p-4">
      <%= link_to "Ask AI", home_path, class: "bg-red-500 hover:bg-red-400 p-2 border-red-700 rounded-md text-white font-bold text-xl" %>
  </div>
  
  <div class="container mx-auto">
    <ul>
      <% @snippets.each do |snippet| %>
        <li class="py-1 flex items-center">
          <div class="w-3 mx-1 text-red-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
            </svg>
          </div>
          <%= link_to snippet.text, snippet, class: "hover:underline" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
